.punctuation {
  position: absolute;
  top: 20px;
  left: 20px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.punctuation-relative {
  position: relative;
  top: 0px;
  left: 0px;
  width: 250px;
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (max-width: 500px) {
  .punctuation-relative {
    width: 90%;
  }
}
